.hidden
{

	display:none;
}

#tooltip
{
	position:absolute;
    width:125px;
    height:auto;
    padding:10px;
    background-color:white;
    border-radius:10px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
    pointer-events:none;
} 
#tooltip2
{
	position:absolute;
    width:150px;
    height:auto;
    padding:10px;
    background-color:white;
    border-radius:10px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
    pointer-events:none;
} 
#tooltip3
{
	position:absolute;
    width:150px;
    height:auto;
    padding:10px;
    background-color: white;
    border-radius:10px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
    pointer-events:none;
} 
.first
{
	float:right
}
.second
{
	float: right
}
.third
{
	float: right
}
th
{
	border: 3px solid black;
}
td
{
	border: 2px solid black;
}
.one
{
	background-color: rgb(255, 128, 128);
	color: 	
}
.two 
{
	background-color: rgb(255, 166, 77);	
}
.three
{
	background-color: rgb(255, 255, 153);	
}
.four
{
	background-color: palegreen;
}
.five
{
	background-color: skyblue;
}
.six
{
	background-color: plum;
}
.seven
{
	background-color: lightslategray;
	color: whitesmoke;
}
.eight
{
	background-color: gainsboro;
}
.nine
{
	background-color: rgb(255, 179, 102);

}
.ten
{
	background-color: lightpink;
}
.eleven
{
	background-color: rgb(255, 187, 153);

}
.colorless
{
	background-color: white;
	font-weight: 100;
	color: black;
}