.hidden
{

	display:none;
}

#tooltip
{
	position:absolute;
    width:125px;
    height:auto;
    padding:10px;
    background-color:white;
    border-radius:10px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
    pointer-events:none;
} 
#tooltip2
{
	position:absolute;
    width:150px;
    height:auto;
    padding:10px;
    background-color:white;
    border-radius:10px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
    pointer-events:none;
} 
#tooltip3
{
	position:absolute;
    width:150px;
    height:auto;
    padding:10px;
    background-color: white;
    border-radius:10px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
    pointer-events:none;
} 
.first
{
	float:right
}
.second
{
	float: right
}
.third
{
	float: right
}
th
{
	border: 3px solid black;
}
td
{
	border: 2px solid black;
}